*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    
}



.image-fluid{
    position: absolute;
    width: 1150px;
    height: 530px;
    padding-right:40px;
    top: 10%;
    left: 10% ;
   
}


.login { 
    position: absolute;
    top: 55%;
    left: 45%;
    margin: -150px 0 0 -150px;
}


.submits{ 
  position: absolute; 
  top: 55%;
  left: 45%;
}

.menu{
    width: 120%;
    
    top: 55%;
    left: 45%;
}


.login p { 
    color: #ffffff; 
    font-size:300%; 
    font-family: 'Times New Roman', Times, serif;
}

.login h6 { 
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 90%;
    top: 75%;
    left: 20%;
     }

.logo{
    border-radius: 50%;
    width: 3%;
    height: 5%;
    position: absolute;
    top: 35%;
    left:69%;
    
}
 .login{
    position: absolute;
    left: 36%;
 }

.btn--primary {
    position: absolute;
    border-radius: none;
    top: 55%;
    left: 40%;
    font-size: 1.4rem;
    font-weight: 600;
    color:black;
    background-color:#fff;
    margin: 1rem 0;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    width: 10%;
}

.btn--primary:hover {
    background-color: whitesmoke;
}

.btn--secondry{
    position: absolute;
    border-radius: none;
    top: 55%;
    left: 52%;
    font-size: 1.4rem;
    font-weight: 600;
    color:black;
    background-color:#fff;
    margin: 1rem 0;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    width: 10%;
}

.btn--secondry:hover {
    background-color: whitesmoke;
}



 

  