*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}



.image-fluid{
    width: 1150px;
    height: 530px;
    padding-top: 0%;
    padding-right:40px;
}


.login { 
    position: absolute;
    top: 55%;
    left: 49%;
    margin: -150px 0 0 -150px;
 
    
}


.submit{ 
   
    width: 1020px;
    height:80px;
    position: absolute;
    top: 78%;
    left: 54%;
    margin: -150px 0 0 -150px;
    font-style:oblique;
}


.login h4 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px;}
.login h6 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px;}

.logo{
    border-radius: 50%;
    width: 3%;
    height: 5%;
    position: absolute;
    top: 32%;
    left: 63%;
    
}
 